<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Getting Started : Serving Web Content</title>
    <link rel="stylesheet" href="../css/person.css" />
</head>
<body>
    <div class="page-content">
        <h1 th:text="'Hello, ' + ${person.getFullname()} + '!'" />
    </div>
</body>
</html>